@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  /* Instagram Blue Color */
  --color-instagram: #2563EB;
  --color-instagram-dark: #1D4ED8;
  --color-instagram-light: #F0F4FF;
  --color-instagram-border: #E2E8F0;
}
 

html,body,#root{
  height: 100%;
  width: 100%;
}